body{
  background-color: #FFD3CF;
}
h1{
  color: #375C20;
}
.monstera{
  width:175px;
  height:200px;
}
.pink-flowers{
  width:325px;
  height:200px;
}
.lightgreen{
  width: 300px;
  height:200px;
}
.succulent{
  width: 300px;
  height:200px;
}
.pink-flowers2{
  width: 300px;
  height:200px;
}
.cactus{
  width: 300px;
  height:200px;
}
.succulent2{
  width: 300px;
  height:200px;
}
.plant2{
  width: 300px;
  height:200px;
}
.plant3{
  width:150px;
  height:200px;
}
.succulent3{
  height: 200px;
  width: 325px;
}
.succulent4{
  height: 200px;
  width: 350px;
}
.plant4{
  height: 200px;
  width: 300px;
}
.plant5{
  height: 200px;
  width: 300px;
}
.flowers{
  height: 200px;
  width: 300px;
}
.plant6{
  height: 200px;
  width: 250px;
}
.pink-flowers3{
  height: 200px;
  width: 250px;
}
